/* ## Layout
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px
*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
/* Weights: 400, 500, 700 */
:root {
    --dark-magenta: hsl(300, 43%, 22%);
    --pink: hsl(333, 80%, 67%);
    --dark-gray-magenta: hsl(303, 10%, 53%);
    --light-gray-magenta: hsl(300, 24%, 96%);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: hsl(0, 0%, 100%);
    font-family: 'League Spartan', sans-serif;
    font-size: calc(15rem / 16); /*15px*/
}
.stars {
    width: 6rem;
    height: 1rem;
    background-image: url("./images/icon-star.svg");
    background-repeat: space;
}
.hidden {
    position: absolute;
    top: -1000px;
}